<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Configure the Audit Service -->
	<bean id="auditService" class="uk.co.inhealthcare.open.itk.mybatis.MyBatisAuditServiceImpl">
		<property name="sqlSessionFactory" ref="itkSqlSessionFactory" />
	</bean>

	<!-- Configure the SMSC Logger -->
	<bean id="smscLogger"
		class="uk.co.inhealthcare.open.smsc.mybatis.MyBatisSMSCLoggingServiceImpl">
		<property name="sqlSessionFactory" ref="smscSqlSessionFactory" />
	</bean>

	<bean id="smscSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:smsclogdb/mybatis/SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="itkSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:auditdb/mybatis/SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>